
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color:skyblue; */
  background-image: linear-gradient(to right, #1034A6, #F62D2D);
}
:root{
  --white: #FFF;
  --bg: #313552;
  --grey: #CCC;
  --sucess-bg: #6BCB77;
}


