.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: skyblue;
}
:root {
  --white: #fff;
  --bg: #313552;
  --grey: #ccc;
  --sucess-bg: #6bcb77;
}
