.container {
  width: 100%;
  max-width: 500px;
  padding: 30px 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  height: 650px;
}
.content {
  height: 500px;
}
.text {
  font-size: 1.4em;
  font-weight: 500;
}
.form2 {
  margin-top: 15px;

  padding: 30px;
  border-radius: 5px;
  border: 1px solid var(--grey);
}
.txt {
  font-size: 1.1em;
  margin: 10px 0;
  font-weight: 500;
}
input {
  width: 100%;

  margin: 10px 0;
  padding: 20px 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

button {
  background: gray;
  color: var(--white);
  font-weight: 500;
  border: none;
  font-size: 1em;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  background: white;
}
